<div class="row g-3">
  <!-- ............. -->
  <div class="col-5">
    <select class="form-select" aria-label="Teamd chooser" [(ngModel)]="selectedTeamId" #teamNameSelect>
      <option *ngFor="let team of teams$ | async" value="{{ team.id }}">
        {{ team.full_name }}
      </option>
    </select>
  </div>
  <!-- ............. -->
  <div class="col-auto">
    <button
      class="btn btn-primary"
      id="trackTeamBtn"
      (click)="onTrackTeamBtnClicked()"
    >
      Track team
    </button>
  </div>
  <!-- ............. -->
</div>
