.card {
  width: 500px;
}

.mid-area {
  display: flex;
  & > div {
    display: flex;
    flex-grow: 1;
  }

  &__left {
    background-color: green;
    flex-direction: column;
    & > p {
      display: flex;
      background-color: aquamarine;
    }
  }

  &__right {
    background-color: tomato;
    img {
      display: block;
      border: 1px solid blue;
      width: 200px;
    }
  }
}
