.card {
  width: auto;
  height: 450px;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.mid-area {
  display: flex;
  & > div {
    display: flex;
    width: 50%;
  }

  &__left {
    flex-direction: column;
    & > p {
      display: flex;
    }
  }

  &__right {
    img {
      width: 100%;
      max-width: 250px;
      object-fit: contain;
      opacity: 0;
      &.fadeIn {
        animation: fadeIn 5s forwards;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
