<div class="card">
  <ng-container *ngIf="team$ | async as team; else loadingCard">
    <div class="card-header">
      <h5 class="card-title">{{ team.full_name }} [{{ team.abbreviation }}]</h5>
      <h6>
        {{
          team.conference === "West"
            ? "Western conference"
            : "Eastern Conference"
        }}
      </h6>
      <button
        id="remove{{ team.abbreviation }}"
        class="remove"
        (click)="onClickClose()"
      >
        X
      </button>
    </div>
    <div class="card-body mid-area">
      <div class="mid-area__left">
        <p>Results of past 12 days:</p>
        <ng-container
          *ngIf="results$ | async as periodResults; else loadingResults"
        >
          <p>
            <span
              *ngFor="let result of periodResults.gameResults"
              class="badge rounded-pill text-bg-{{
                wonTheGame(result) ? 'success' : 'danger'
              }}"
            >
              {{ wonTheGame(result) ? "W" : "L" }}
            </span>
          </p>
          <br />
          <p>Avg pts scored: {{ periodResults.avgPtsScored }}</p>
          <br />
          <p>Avg pts conceded: {{ periodResults.avgPtsConceded }}</p>
        </ng-container>
      </div>
      <div class="mid-area__right">
        <img
          src="https://interstate21.com/nba-logos/{{ team.abbreviation }}.png"
          alt="Team Logo"
          [ngClass]="{ fadeIn: logoLoaded }"
          (load)="logoLoaded = true"
        />
      </div>
    </div>
    <div class="card-body">
      <a
        id="results{{ team.abbreviation }}"
        [routerLink]="['/results', team.abbreviation]"
        class="btn btn-primary results"
        >See game results &gt;&gt;</a
      >
    </div>
  </ng-container>
</div>

<ng-template #loadingCard>
  <div class="card-body d-flex align-items-center">
    <div
      class="spinner-border ms-auto me-auto"
      role="status"
      aria-hidden="true"
    ></div>
  </div>
</ng-template>

<ng-template #loadingResults>
  <div
    class="spinner-border ms-auto me-auto"
    role="status"
    aria-hidden="true"
  ></div>
</ng-template>
