<div class="card">
  <!-- ..... -->
  <div class="card-body">
    <h5 class="card-title">TEAM_NAME</h5>
    <h6>EAST_OR_WEST_CONFERENCE</h6>
  </div>
  <!-- ..... -->
  <hr />
  <!-- ..... -->
  <div class="card-body mid-area">
    <div class="mid-area__left">
      <p>Results of past 12 days:</p><br>
      <p>
        <span class="badge rounded-pill text-bg-success">W</span>
        <span class="badge rounded-pill text-bg-danger">L</span>
      </p><br>
      <p>Avg pts scored: NUMBER</p><br>
      <p>Avg pts conceded: NUMBER</p>
    </div>
    <div class="mid-area__right">
      <img src="" alt="Team Logo"/>
    </div>
    <!-- <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
  <!-- ..... -->
  <div class="card-body">
    <a [routerLink]="['/results', 123456789]" class="btn btn-primary">See game results &gt;&gt;</a>
  </div>
  <!-- ..... -->
</div>
